{% extends 'base.html' %}

{% block title %} <h3>Add a Pet</h3> {% endblock %}

{% block content %} 


<form action="/add" method="POST">

    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
    {% for field in form
            if field.widget.input_type != 'hidden' %}
    
        <p>
        {{ field.label }}
        {{ field }}
    
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        </p>
    
    {% endfor %}
      

    <button type="submit">Add</button>
</form>

{% endblock %}