{% extends 'base.html' %}

{% block title %} <h3>Pet Details</h3> {% endblock %}

{% block content %} 

<div>Name: {{pet.name}}<br>Species: {{pet.species}}<br>{% if pet.age %}<b>Age: {{pet.age}}</b>{% endif %}</div>
<div>{% if pet.photo_url %}<img src="{{pet.photo_url}}" alt="Image Gone">{% endif %}</div>             
<br>
{% if pet.notes %}<p>Notes: {{pet.notes}}</p>{% endif %}
{% if pet.available == True %}<p>{{pet.name}} is available for adoption.</p>{% endif %}

<form action="/{{pet.id}}" method="POST">

    {{ form.hidden_tag() }} <!--add type=hidden form fields -->
    
    {% for field in form
            if field.widget.input_type != 'hidden' %}
    
        <p>
        {{ field.label }}
        {{ field }}
    
        {% for error in field.errors %}
            {{ error }}
        {% endfor %}
        </p>
    
    {% endfor %}
      

    <button type="submit">Save</button>
</form>

{% endblock %}